body {
    background-color: #f0f0f0;
    font-family: helvetica neue, helvetica, sans-serif;
}

.main-panel {
    background-color: white;
    height: 100%;
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-right: 35%;
    margin-top: 1%;
}

.menu-item {
    float: left;
}

.menu-item a {
    text-decoration: none;
}

.fa-home {
    color: black;
}

.fa-home:hover {
    opacity: 0.7;
}

.login-btn, .register-btn {
    margin-left: 0.2%;
    padding-top: 0.3%;
}

.alert.alert-danger, .alert.alert-success {
    display: none;
}

#logout, #profile {
    display: none;
}

#logout {
    cursor: pointer;
}

.profile {
    width: 100%;
    padding: 10px;
    display: flex;
}

#main-profile.main-panel {
    margin-top: 2%;
    padding-left: 30%;
    padding-right: 30%;
}

.left-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-right: 3px solid #343a40;
}

.right-panel {
    padding-left: 2em;
    flex-grow: 1;
}

.avatar {
    max-height: 100px;
    max-width: 100px;
}

#email-profile {
    margin-left: 5%;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.reset-password {
    display: none;
    padding: 10px;
    flex-grow: 1;
}

.hide {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .main-panel {
        background-color: white;
        height: 100%;
        width: 90%;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }
}

@media only screen and (max-width: 600px) {
    .left-panel {
        display: flex;
        width: 100%;
        border-right: 0;
        border-bottom: 3px solid #343a40;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
        float: left;
    }

    .right-panel {
        margin-top: 10px;
        display: block;
        width: 100%;
        float: left;
    }

    .profile {
        width: 100%;
        padding: 10px;
        display: block;
        float: left;
    }
}